<mat-sidenav-container class="h-100-p">
  <mat-sidenav
    #fileSidenav id="file-sidenav"
    [mode]="isMd ? 'over' : 'side'"
  >
    <mat-toolbar id="file-sidenav-toolbar">
      <button *ngIf="isMd" (click)="fileSidenav.toggle()" mat-button>
        <mdi-icon>arrow-expand-left</mdi-icon>
        <span class="ml-4">{{'toolbar.document_hide'|translate}}</span>
      </button>
      <span fxFlex></span>
      <button *ngIf="currentUpload" (click)="closeFile()" mat-button>
        <mdi-icon>close</mdi-icon>
        <span class="ml-4">{{'toolbar.document_close'|translate}}</span>
      </button>
    </mat-toolbar>
    <div *ngIf="!currentUpload" class="text-center">
      <p class="font-size-20">{{'info.upload.no_doc_selected'|translate}}</p>
    </div>
    <div *ngIf="currentUpload && uploadUrl" [ngSwitch]="currentUpload.upload.mime" class="file-wrapper">
      <iframe *ngSwitchCase="'application/pdf'" [src]="uploadUrl" frameborder="0" class="file-iframe"></iframe>
      <img *ngSwitchCase="'image/png'" [src]="uploadUrl" />
      <img *ngSwitchCase="'image/jpeg'" [src]="uploadUrl" />
    </div>
  </mat-sidenav>
  <mat-sidenav
    *ngIf="!selectedComment"
    #uploadedSidenav id="invoices-filter-sidenav"
    mode="over" position="end"
  >
    <mat-toolbar id="uploaded-sidenav-toolbar" class="compact">
      <button (click)="uploadedSidenav.toggle()" mat-button>
        <mdi-icon>arrow-expand-right</mdi-icon>
        <span class="ml-4">{{'toolbar.filter_hide'|translate}}</span>
      </button>
      <span fxFlex></span>
      <button (click)="clearFilter()" mat-button>
        <mdi-icon>broom</mdi-icon>
        <span class="ml-4">{{'toolbar.filter_clear'|translate}}</span>
      </button>
      <button (click)="search(true)" mat-raised-button color="accent">
        <mdi-icon>filter</mdi-icon>
        <span class="ml-4">{{'toolbar.filter_now'|translate}}</span>
      </button>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="px-16">
      <mat-form-field>
        <mdi-icon matPrefix>magnify</mdi-icon>
        <input matInput [(ngModel)]="newFilter.search"
               type="text" (keyup.enter)="search(true)"
               placeholder="{{'app.search'|translate}}">
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="newFilter.all.invoice_type" placeholder="{{'services.acct.invoice_type'|translate}}">
          <mat-option [value]="null" selected>{{'services.acct.invoice_type.all' | translate}}</mat-option>
          <mat-option value="purchase">{{'services.acct.invoice_type.purchase' | translate}}</mat-option>
          <mat-option value="sale">{{'services.acct.invoice_type.sale' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="createdAtMobile0" placeholder="Desde" [(ngModel)]="newFilter.all.created_at[0]" [max]="newFilter.all.created_at[1]">
        <mat-datepicker-toggle matPrefix [for]="createdAtMobile0"></mat-datepicker-toggle>
        <mat-datepicker #createdAtMobile0></mat-datepicker>
        <mdi-icon *ngIf="newFilter.all.created_at[0]" style="cursor:pointer;" matSuffix (click)="newFilter.all.created_at[0]=null">broom</mdi-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="createdAtMobile1" placeholder="Hasta" [(ngModel)]="newFilter.all.created_at[1]" [min]="newFilter.all.created_at[0]">
        <mat-datepicker-toggle matPrefix [for]="createdAtMobile1"></mat-datepicker-toggle>
        <mat-datepicker #createdAtMobile1></mat-datepicker>
        <mdi-icon *ngIf="newFilter.all.created_at[1]" style="cursor:pointer;" matSuffix (click)="newFilter.all.created_at[1]=null">broom</mdi-icon>
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="accounting-main">
    <mat-toolbar id="accounting-toolbar" class="compact">
      <button (click)="fileSidenav.toggle()" mat-button>
        <mdi-icon *ngIf="fileSidenav.opened">arrow-expand-left</mdi-icon>
        <mdi-icon *ngIf="!fileSidenav.opened">arrow-expand-right</mdi-icon>
        <span class="ml-4">{{ fileSidenav.opened ? 'app.hide' : 'app.show' | translate }} {{'app.document'|translate}}</span>
      </button>
      <span fxFlex></span>
      <!--<ai-loading-spinner *ngIf="loadingPeriods" class="mx-48"></ai-loading-spinner>
      <mat-form-field *ngIf="!loadingPeriods">
        <mat-label>Seleccionar períodos de facturación</mat-label>
        <mat-select [(ngModel)]="selectedPeriods" multiple>
          <mat-option *ngFor="let p of periods" [value]="p">{{ p.start_at | date:'dd/MM/yyyy HH:mm:ss' }} - {{ p.end_at ? (p.end_at | date:'d/M/yy hh:mm:ss') : 'presente' }}</mat-option>
        </mat-select>
      </mat-form-field>-->
      <button mat-raised-button [routerLink]="'/client/services/accounting/norma-43'" color="primary"><mdi-icon fontSize="24">bank-transfer</mdi-icon> <span>{{ 'pages.services.accounting.norma43' | translate }}</span></button>
    </mat-toolbar>
    <div id="files-list-wrapper" fusePerfectScrollbar="false">
      <div id="files-list-content">
        <mat-card class="w-100-p p-0">
          <mat-card-content>
            <div ng2FileDrop
                 *ngIf="uploader"
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="drop-zone">
              <div class="queued-files">
                <mat-toolbar class="compact" color="primary">
                  <mdi-icon class="mx-16">cloud-upload</mdi-icon>
                  <h3 class="mat-headline">{{'info.upload.files_in_queue'|translate}}</h3>
                  <span fxFlex></span>
                  <mat-form-field fxFlex floatLabel="never">
                    <mat-select [(ngModel)]="invoiceType" (selectionChange)="setUploaderFormData()" required placeholder="{{'services.acct.invoice_type'|translate}}">
                      <mat-option value="" selected disabled>{{'services.acct.invoice_type'|translate}}</mat-option>
                      <mat-option value="purchase">{{'services.acct.invoice_type.purchase'|translate}}</mat-option>
                      <mat-option value="sale">{{'services.acct.invoice_type.sale'|translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button
                      class="ml-16"
                      mat-button (click)="uploader.clearQueue()"
                      [disabled]="uploader.isUploading || uploader.queue.length == 0">
                    <mdi-icon>broom</mdi-icon> <span>{{'info.upload.clear_queue'|translate}}</span>
                  </button>
                  <button
                      mat-raised-button (click)="uploader.uploadAll()"
                      color="accent" [disabled]="uploader.isUploading || !invoiceType || uploader.getNotUploadedItems().length == 0">
                    <mdi-icon>upload</mdi-icon> <span>{{'info.upload.upload_all'|translate}}</span>
                  </button>
                </mat-toolbar>
                <mat-list dense *ngIf="uploader.queue.length > 0">
                  <mat-list-item *ngFor="let file of uploader.queue">
                    <mdi-icon *ngIf="!file.isUploaded && !file.isUploading" mat-list-icon>{{ getIconFromFileObject(file.file) }}</mdi-icon>
                    <mdi-icon *ngIf="!file.isUploaded && file.isUploading" mat-list-icon class="mat-accent">progress-upload</mdi-icon>
                    <mdi-icon *ngIf="file.isUploaded" mat-list-icon class="green-500-fg">check</mdi-icon>
                    <p mat-line><strong>{{ file.file.name }}</strong></p>
                    <p mat-line class="grey-500-fg">{{ parseFileSize(file.file.size, 3, 'KiB') }} KiB</p>
                    <div *ngIf="file.isUploading" class="progress-bar mr-12">
                      <mat-progress-bar mode="determinate" [value]="file.progress" color="accent"></mat-progress-bar>
                      <span class="status">{{ file.progress }}%</span>
                    </div>
                    <button
                        *ngIf="!file.isUploaded"
                        mat-button color="accent"
                        (click)="file.upload()"
                        [disabled]="!invoiceType || uploader.isUploading"
                    >
                      <mdi-icon>upload</mdi-icon> <span class="ml-12">{{'app.upload.upload'|translate}}</span>
                    </button>
                    <button
                        *ngIf="!file.isUploading && !file.isUploaded"
                        mat-button color="warn"
                        (click)="uploader.removeFromQueue(file)"
                    >
                      <mdi-icon>delete</mdi-icon> <span class="ml-12">{{'info.upload.clear_from_queue'|translate}}</span>
                    </button>
                    <button
                        *ngIf="file.isUploading && !file.isUploaded"
                        mat-button color="warn"
                        (click)="uploader.cancelItem(file)"
                    >
                      <mdi-icon>close</mdi-icon> <span class="ml-12">{{'app.cancel'|translate}}</span>
                    </button>
                    <button
                        *ngIf="file.isUploaded"
                        mat-button
                        (click)="uploader.removeFromQueue(file)"
                    >
                      <mdi-icon>close</mdi-icon> <span class="ml-12">{{'app.hide'|translate}}</span>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="uploader-dropzone">
                <label *ngIf="!isCompleted && !isUploading" for="uploader-input" class="upload-button">
                  <input id="uploader-input" type="file" style="display: none;" ng2FileSelect  [uploader]="uploader">
                  <ng-template [ngIf]="!isUploading && !isCompleted">
                    <p [class.hide]="hasBaseDropZoneOver">{{'info.upload.dropzone_msg'|translate}}</p>
                    <p [class.hide]="!hasBaseDropZoneOver" class="over">{{'info.upload.dropzone_drop_to_upload'|translate}}</p>
                  </ng-template>
                </label>
                <ai-loading-spinner *ngIf="isUploading"></ai-loading-spinner>
              </div>


            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-24 p-0">
          <mat-card-content>
            <mat-toolbar id="files-list-toolbar" class="compact" color="primary"[class.has-adv-filter]="advFilter">
              <mat-toolbar-row>
                <mdi-icon class="mx-16">cloud-search</mdi-icon>
                <h3 class="mat-headline">{{'info.upload.uploaded_files'|translate}}</h3>
                <span fxFlex></span>
                <mat-form-field *ngIf="!isXs" floatLabel="never">
                  <mdi-icon matPrefix>magnify</mdi-icon>
                  <input matInput [(ngModel)]="newFilter.search"
                         type="text" (keyup.enter)="search(true)"
                         placeholder="{{'app.search'|translate}}">
                </mat-form-field>
                <button *ngIf="!isXs" (click)="clearFilter()" mat-button class="ml-16">
                  <mdi-icon>broom</mdi-icon>
                  <span class="ml-4"></span>
                </button>
                <button *ngIf="!isXs" (click)="search()" mat-raised-button color="accent" class="ml-16">
                  <mdi-icon>magnify</mdi-icon> <span>{{'toolbar.filter_now'|translate}}</span>
                </button>
                <button *ngIf="!isXs" (click)="advFilter = !advFilter" mat-button [color]="advFilter ? 'accent':null" class="toggle-adv-filter">
                  <mdi-icon fontSize="24">chevron-down</mdi-icon>
                </button>
                <button *ngIf="isXs" (click)="uploadedSidenav.open()" mat-button>
                  <mdi-icon fontSize="24">filter</mdi-icon>
                </button>
              </mat-toolbar-row>
              <mat-toolbar-row *ngIf="!isXs" class="adv-filter" [class.show]="advFilter">
                <mat-form-field fxFlex class="ml-16">
                  <mat-select [(ngModel)]="newFilter.all.invoice_type" placeholder="{{'services.acct.invoice_type'|translate}}">
                    <mat-option [value]="['purchase','sale']" selected>{{'services.acct.invoice_type.all'|translate}}</mat-option>
                    <mat-option value="purchase">{{'services.acct.invoice_type.purchase'|translate}}</mat-option>
                    <mat-option value="sale">{{'services.acct.invoice_type.sale'|translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex class="ml-16">
                  <input matInput [matDatepicker]="createdAt0" placeholder="Desde" [(ngModel)]="newFilter.all.created_at[0]" [max]="newFilter.all.created_at[1]">
                  <mat-datepicker-toggle matPrefix [for]="createdAt0"></mat-datepicker-toggle>
                  <mat-datepicker #createdAt0></mat-datepicker>
                  <mdi-icon *ngIf="newFilter.all.created_at[0]" style="cursor:pointer;" matSuffix (click)="newFilter.all.created_at[0]=null">broom</mdi-icon>
                </mat-form-field>
                <mat-form-field fxFlex class="ml-16 mr-16">
                  <input matInput [matDatepicker]="createdAt1" placeholder="Hasta" [(ngModel)]="newFilter.all.created_at[1]" [min]="newFilter.all.created_at[0]">
                  <mat-datepicker-toggle matPrefix [for]="createdAt1"></mat-datepicker-toggle>
                  <mat-datepicker #createdAt1></mat-datepicker>
                  <mdi-icon *ngIf="newFilter.all.created_at[1]" style="cursor:pointer;" matSuffix (click)="newFilter.all.created_at[1]=null">broom</mdi-icon>
                </mat-form-field>
              </mat-toolbar-row>
            </mat-toolbar>
            <div class="grey-100-bg px-16 py-4"><span *ngIf="paginationConfig && paginationConfig.totalItems">{{'pagination.showing'|translate}} {{ paginationConfig.from }} - {{ paginationConfig.to }} / {{ paginationConfig.totalItems }}</span></div>
            <div class="files-list">
              <table cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                  <th class="id">
                    <ai-custom-th sortField="id" [(filter)]="filter" (sortChanged)="loadData(1)">ID</ai-custom-th>
                  </th>
                  <th class="name" colspan="2">
                    <ai-custom-th sortField="upload.original_name" [(filter)]="filter" (sortChanged)="loadData(1)">
                      {{'app.name'|translate}}</ai-custom-th>
                  </th>
                  <th class="type">
                    <ai-custom-th sortField="invoice_type" [(filter)]="filter" (sortChanged)="loadData(1)">{{'app.type'|translate}}</ai-custom-th>
                  </th>
                  <th class="date">
                    <ai-custom-th sortField="created_at" [(filter)]="filter" (sortChanged)="loadData(1)">{{'app.name'|translate}}</ai-custom-th>
                  </th>
                  <th class="actions"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    (click)="openFile(au.id)"
                    *ngFor="let au of accUploads | paginate: paginationConfig"
                    [class.cancelled]="au.cancelled_at"
                >
                  <td class="id">{{au.id}}</td>
                  <td class="icon">
                    <mdi-icon>{{ au.upload.getIcon() }}</mdi-icon>
                  </td>
                  <td class="name">
                    <strong>{{ au.upload.original_name }}</strong>
                  </td>
                  <td class="type">
                    <mat-chip-list>
                      <mat-chip *ngIf="au.invoice_type=='purchase'" (click)="directFilter('invoice_type','purchase')" class="blue-grey-500-bg white-fg">{{'services.acct.invoice_type.purchase' | translate}}</mat-chip>
                      <mat-chip *ngIf="au.invoice_type=='sale'" (click)="directFilter('invoice_type','sale')" class="teal-600-bg white-fg">{{'services.acct.invoice_type.sale' | translate}}</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td class="date">
                    <span class="grey-600-fg">{{ au.created_at | date : 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </td>
                  <td class="actions">
                    <div fxLayout="row">
                        <button (click)="download($event,au)"
                            mat-icon-button
                        ><mdi-icon>download</mdi-icon></button>
                      <ai-delete-file-timer
                          *ngIf="au.blocks_at && !au.cancelled_at"
                          [time]="au.blocks_at"
                          (requestDelete)="deleteFile($event, au.id)"
                      ></ai-delete-file-timer>
                      <button
                          *ngIf="au.cancelled_at"
                          mat-icon-button disabled
                          matTooltip="{{'services.acct.canceled_file_not'|translate}}"
                      ><mdi-icon>close</mdi-icon></button>
                      <button
                          *ngIf="au.c_comment"
                          (click)="showComment($event,au,'read')"
                          mat-icon-button
                          matTooltip="{{'services.acct.show_comment'|translate}}"
                      ><mdi-icon class="orange-500-fg">message-outline</mdi-icon></button>
                      <button
                          *ngIf="!au.c_comment"
                          (click)="showComment($event,au,'save')"
                          mat-icon-button
                          matTooltip="{{'services.acct.put_comment'|translate}}"
                      ><mdi-icon color="warn" >message-plus</mdi-icon></button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="loader" [class.hide]="!loadingUploads">
                <ai-loading-spinner></ai-loading-spinner>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <ai-pagination-template
        id="invoices-pagination"
        [pagination]="paginationConfig"
        (pageChange)="loadData($event)"
    ></ai-pagination-template>
  </mat-sidenav-content>
</mat-sidenav-container>

