:host {
  //position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#accounting-wrapper {
  height: 100%;
}

.sidenav-content {
  position: relative;
  padding-bottom: 48px;
}

.files-list-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @media (min-width: 992px) {
    padding: 16px;
  }
}

.files-list-content {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

.files-list-toolbar {
  .adv-filter {
    margin-top: -48px;
    opacity: 0;
    -webkit-transition: margin-top .25s ease, opacity .25s ease;
    -moz-transition: margin-top .25s ease, opacity .25s ease;
    -ms-transition: margin-top .25s ease, opacity .25s ease;
    -o-transition: margin-top .25s ease, opacity .25s ease;
    transition: margin-top .25s ease, opacity .25s ease;
    &:not(.show) {
      pointer-events: none;
      z-index: -1;
    }
    &.show {
      margin-top: 0;
      opacity: 1;
    }
  }
  .toggle-adv-filter {
    mdi-icon {
      -webkit-transition: transform .25s ease;
      -moz-transition: transform .25s ease;
      -ms-transition: transform .25s ease;
      -o-transition: transform .25s ease;
      transition: transform .25s ease;
    }
  }
  &.has-adv-filter {
    .toggle-adv-filter {
      mdi-icon {
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
    }
  }
}

#file-sidenav {
  width: 800px;
  max-width: 95%;
  padding-top: 64px;

  .file-wrapper {
    height: 100%;
  }

  .file-iframe {
    width: 100%;
    height: 100%;
  }
  /deep/ .mat-drawer-inner-container {
    overflow: hidden;
  }
}

#file-sidenav-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#invoices-filter-sidenav {
  max-width: 95%;
  min-width: 60%;
}

#norma-filter-sidenav {
  max-width: 95%;
  min-width: 60%;
}

.files-list {
  position: relative;
  width: 100%;
  min-height: 240px;
  border: none;
  table {
    width: 100%;
  }
  tr {
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
    &:hover {
      background-color: rgba(0,0,0,.03);
    }
    &.cancelled {
      opacity: .6;
      background-color: rgba(0,0,0,.09);
    }
  }
  th,
  td {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    &.id {
      width: 50px;
      padding-left: 15px;
    }
    &.icon {
      width: 24px;
    }
    &.date {
      width: 150px;
    }
    &.type {
      width: 100px;
      padding-right: 16px;
      padding-left: 16px;
      .mat-chip {
        font-size: 12px;
      }
      /deep/ .mat-chip-list-wrapper {
        justify-content: center;
      }
    }
    &.actions {
      width: 50px;
      padding-right: 15px;
      text-align: right;
      /deep/ button {
        text-align: center;
      }
    }
  }
  td {
    padding-top: 0;
    padding-bottom: 0;
    mdi-icon {
      font-size: 22px;
    }
  }
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-color: #fff;
    background-color: rgba(230,247,255,.6);
    z-index: 1;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    ai-loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}

/*
mat-list.files-list {
  position: relative;
  min-height: 240px;
  padding-top: 0;
  mat-list-item {
    border-bottom: 1px solid rgba(0,0,0,.12);
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;

    &:first-child {
      border-top: 1px solid rgba(0,0,0,.12);
    }
    &:hover {
      background-color: rgba(0,0,0,.03);
    }
    mat-icon {
      font-size: 24px;
    }
  }
  &[dense] {
    mat-list-item {
      height: 34px;
    }
  }
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    ai-loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}*/

.fixed-pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;

  /deep/ .ai-pagination {
    margin: 0;
  }
}