<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{'app.model.new_draft' | translate}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="newDraftForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-select placeholder="{{'app.model' | translate}}"
                                name="model_id" formControlName="model_id"
                                required>
                        <mat-option *ngFor="let element of models" [value]="element.id">
                            <small>{{ element.trans().name | translate }}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button
                class="save-button"
                (click)="matDialogRef.close(newDraftForm)"
                [disabled]="newDraftForm.invalid">
            {{'model.add.draft' | translate}}
        </button>

    </div>
</div>
