<mat-toolbar>

    <!--<div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>-->

        <!--&lt;!&ndash;<a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855"&ndash;&gt;-->
           <!--&lt;!&ndash;target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"&ndash;&gt;-->
           <!--&lt;!&ndash;fxLayoutAlign="start center">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Purchase FUSE (Angular 7+)</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->

       <!---->

    <!--</div>-->
    <div fxLayout="row" class="w-100-p" fxLayoutAlign="end center">
        <div>
            <p class="font-size-12">Version {{version}}</p>
        </div>
    </div>


</mat-toolbar>
